<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2>気になる一覧</h2>
        <% @posts.each do |post| %>
          <%= render "posts/index", post: post, user: post.user %>
        <% end %>
      </table>
    </div>
  </div>
</div>