// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top {
  background-image: image-url("dancing.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.text-box {
  position: absolute;
  top: 48vh;
  left: 60px;
  width: 40%;
}

.top-text {
  background-color: #fff;
  font-size: 48px;
  line-height: 60px;
}

#about {
  display: flex;
  justify-content: center;
  background-color: #ECEFF1;
}

.about-container {
  width: 100%;
  text-align: center;
}

.about-title{
  margin-top: 90px;
  color: #000;
  font-size: 32px;
  text-align: center;
  position: relative;
}

.about-title::after{
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #EC715F;
  left: 50%;
  transform: translate(-50%);
  bottom: -8px;
}

.about-text {
  line-height: 1.9rem;
}

@media screen and (max-width:767px){

  #top {
    background-image: image-url("tango.jpg");
  }

}