// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-th {
  width: 30%;
}

.post-index {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search {
  width: 30%;
}

.list {
  width: 60%;
}

.recommend-td {
  width: 40%;
}