// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.side_img {
  background-image: url(pexels-pixabay-67238.jpg);
  background-size: cover;
  background-position: center;
  width: 30%;
  height: 100vh;
}

.side_menu {
  list-style: none;
}

.mypage-title {
  background-color: #fff;
  margin-top: 40vh;
}

.mypage-main {
  background-color: #ECEFF1;
}